{% extends 'base.html' %}

{% load  static %}

{% block title %}Reset password{% endblock %}

    {% block contents %}

    <div class="container">
        <div class="row">
            <div class="col py-4">
                <hr>
                <h3><font color="white">パスワードをリセットする？いいの？本当にいいの？また忘れるかもよ？</font></h3>
                <font color="yellow"><p>
                    登録済みの方のメールアドレスを入力してね
                    パスワードリセットボタンのリンクを記載したメールをすぐ届けてやる。
                </font></p>
                <br>

                <form action="" method="POST" class="text-center">
                    {% csrf_token %}

                    {{form}}

                    <input type="submit" value="メールを受け取る" /></br>
                </form>
                <br>

                <a href="{% url 'news:index' %}"><font color="yellow">zikoman news</font></a>
                <hr>
            <img src ={% static 'img\6cc6dbaf11207f9d04c181339f862f44.jpg' %} width="1300" height="800" >
            </div>
        </div>
    </div>
    {% endblock %}